@media screen and (max-width: 768px) {
  .nav--div {
    position: none;
  }

  .nav_none {
    display: none;
  }

  .logo {
    filter: none;
  }

  .titulo {
    padding-top: 6rem;
    font-size: 50px;
  }

  .parrafo1 {
    display: none;
  }

  .boton {
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2rem;
  }

  .titulo2 {
    font-size: 60px;
  }

  .parrafo3 {
    font-size: 20px;
  }

  .parrafo4 {
    font-size: 20px;
  }

  .imagenes {
    padding-top: 0;
  }

  .imagen1 {
    padding-left: 0;
  }
  .imagen2 {
    padding-left: 0;
  }

  .texto1 {
    padding-bottom: 2rem;
    padding-top: 0;
  }
}
