/*//    medidas     //*/

$cols: 12;
$gap: 24px;
$fontt: 42px;
$fonts: 30px;
$fontp: 20px;
$space1: 2rem 2rem 2rem 2rem;
$space2: 6rem 6rem 6rem 6rem;

/*//    colores //*/

$black: rgba(0, 0, 0, 0.78);
$black2: #292c2f;
$gris: rgb(184, 184, 184);

/*// fondo //*/
$fondo1: url(/imagenes/nuevaimagen.jpg);
$fondo2: url(/imagenes/fondo2.jpg);
